<html>

<head>
<title>Smarter Parking - Parking made easy</title>
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script type="text/javascript" src="/js/dashboardController.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<script src="https://maps.googleapis.com/maps/api/js"></script>
<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css">
<style>
#map_canvas {
	width: 100%;
	height: 60%;
}

#current {
	padding-top: 25px;
}
</style>
</head>

<body ng-app="smarterParkingDashboardApp"
	ng-controller="dashboardController">
	<div class="cover">
		<div class="navbar"
			style="background-color: #000000 !important; opacity: 0.9;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navbar-ex-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span
						style="color: #FFFFFF; opacity: 2.0">Smarter Parking Sensor
							Management Portal</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-ex-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/" style="color: #FFFFFF;">Home</a>
						</li>
						<li><a href="/dashboard" style="color: #FFFFFF;">Dashboard</a>
						</li>
						<li><a href="#" style="color: #FFFFFF;">Project Info</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cover-image"
			style="background-image: url('/images/AddNewDevice.jpg')"></div>
		<div class="container"
			style="background-color: #000000 !important; opacity: 0.8; height: 80%; overflow-x: hidden; overflow-y: auto;">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12 text-center">
									<h2 class="text-center text-primary">
										Register New Device <span style=""></span>
									</h2>
								</div>
							</div>
							<form role="form" class="text-center" action="/registerDevice"
								method="post">
								<div class="form-group">
									<input class="form-control input-lg" id="device_id"
										placeholder="Enter the Device's Unique ID" type="text"
										name="device_id" required="">
								</div>
								<div class="form-group">
									<input class="form-control input-lg" id="id_no"
										placeholder="Enter the Device Info Id" type="text"
										name="id_no" required="">
								</div>
								<div class="form-group">
									<input class="form-control input-lg" id="device_type"
										placeholder="Enter the Device Type" type="text"
										name="device_type" required="">
								</div>
								<div class="form-group">
									<input class="form-control input-lg" id="capacity"
										placeholder="Enter the capacity of the sensor" type="text"
										name="capacity" required="">
								</div>
								<div class="form-group">
									<input class="form-control input-lg" id="rate"
										placeholder="Enter the Parking $ Rate/Hr" type="text"
										name="rate" required="">
								</div>
								<div class="form-group">
									<input class="form-control input-lg" id="apiToken"
										placeholder="Enter the API Token for the sensor" type="text"
										name="apiToken" required="">
								</div>
								<div class="form-group">
									<div id="map_canvas"></div>
									<div id="current" style="color: #FFFFFF;">Please select a
										location!!</div>
									<div class="col-md-6 text-center">
										<input class="form-control input-lg" id="latitude"
											placeholder="Select the Location on the Map" type="hidden"
											name="latitude" required="">
									</div>
									<div class="col-md-6 text-center">
										<input class="form-control input-lg" id="longitude"
											placeholder="Select the Location on the Map" type="hidden"
											name="longitude" required="">
									</div>
								</div>
								<div class="form-group">
									<div class="radio" style="text-align: left;">
										<label class="radio-inline" style="color: #FFFFFF;"> <input
											type="radio" name="virtual_sensor" id="optionsRadios1"
											value="N" checked="" style="">Real Device
										</label> <label class="radio-inline" style="color: #FFFFFF;">
											<input type="radio" name="virtual_sensor" id="optionsRadios2"
											value="Y" checked="true">Virtual Device
										</label>
									</div>
								</div>
								<button type="submit" class="btn btn-lg btn-primary">Create
									New Device</button>
							</form>
						</div>
						<div class="col-md-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
      function initialize() {}
      var map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 13,
        center: new google.maps.LatLng(37.36851, -121.90015),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    var myMarker = new google.maps.Marker({
        position: new google.maps.LatLng(37.36851, -121.90015),
        draggable: true
    });
    
     document.getElementById('latitude').value = 37.36851;
     document.getElementById('longitude').value = -121.90015;
    
    google.maps.event.addListener(myMarker, 'dragend', function (evt) {
        document.getElementById('current').innerHTML = '<p>Parking Location : Lat: ' + evt.latLng.lat().toFixed(5) + ' Lng: ' + evt.latLng.lng().toFixed(5) + '</p>';
      	document.getElementById('latitude').value = evt.latLng.lat().toFixed(5);
      	document.getElementById('longitude').value = evt.latLng.lng().toFixed(5);
    });
    
    google.maps.event.addListener(myMarker, 'dragstart', function (evt) {
        document.getElementById('current').innerHTML = '<p>Currently dragging marker...</p>';
        document.getElementById('latitude').value = evt.latLng.lat().toFixed(5);
      	document.getElementById('longitude').value = evt.latLng.lng().toFixed(5);
    });
    
    map.setCenter(myMarker.position);
    myMarker.setMap(map);
    </script>
</body>

</html>