<html>
  
  <head>
    <meta charset="utf-8">
    <title>Smarter Parking - Parking made easy</title>
    <link rel="icon" type="image/png"
    href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
    <script type="text/javascript" src="/js/dashboardController.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
    rel="stylesheet" type="text/css">
  </head>
  
  <body ng-app="smarterParkingDashboardApp" ng-controller="dashboardController">
    <div class="cover">
      <div class="navbar" style="background-color: #000000 !important; opacity: 0.6;">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span style="color: #FFFFFF; opacity: 2.0">Smarter Parking Sensor
							Management Portal</span></a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/" style="color: #FFFFFF;">Home</a>
              </li>
              <li>
                <a href="/VisualizeSensorData" style="color: #FFFFFF;">Visualize
								Sensor Data</a>
              </li>
              <li>
                <a href="/projectInfo" style="color: #FFFFFF;">Project Info</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cover-image" style="background-image: url('http://www.pennparking.com/wp-content/uploads/2012/10/campaign-bg-3.jpg')"></div>
      <div class="container" style="background-color: #000000 !important; opacity: 0.9; height: 80%; overflow-x: hidden; overflow-y: hidden;">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4" style="padding:10 20;">
                    <div class="row" style="padding:2 2;">
                      <div class="col-md-12 text-center" style="padding:2 2;">
                        <input type="text" class="form-control" id="usr" style="padding:2 2;"
                        placeholder="Search for DeviceId.." ng-model="search.device_id">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <h2 class="text-danger text-right">Parking Sensors List
                      <span style=""></span>
                    </h2>
                  </div>
                  <div class="col-md-4">
                    <h2 class="text-danger text-right">
                      <span style="">
                        <a class="btn btn-primary" href="/addNewDevice">Register New Sensor</a>
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <ul class="media-list" ng-init="getdeviceList();" style="background-color: #000000 !important; opacity: 1.0; height: 80%; overflow-x: hidden; overflow-y: auto;">
              <li class="media" ng-repeat="device in deviceList" ng-show="deviceList.errorInForm">
                <div class="alert alert-danger" ng-show="deviceList.errorInForm">
                  <strong>Error! {{deviceList.errorMessage}}</strong>
                </div>
              </li>
              <li class="media" ng-repeat="device in deviceList | filter:search" ng-show="!deviceList.errorInForm">
                <div class="col-md-6">
                  <a class="pull-left" href="http://maps.google.com/?q={{device.latitude}},{{device.longitude}}"
                  target="_blank"><img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?zoom=13&amp;size=150x150&amp;maptype=roadmap&amp;markers=color:blue%7Clabel:P%7C{{device.latitude}},{{device.longitude}}&amp;key=AIzaSyDR8WEtqbD0C9Svqpk2jIii-aSJu_zXnuM"></a>
                  <div class="media-body">
                    <p style="color: #FFFFFF;"><b>Device ID</b> : {{device.device_id}}<img ng-src="/images/{{device.devicestatus[0].Action}}img.png" alt="{{device.devicestatus[0].Action}}" class="img-rounded" width="30" height="30"/>
                      <br>
                      <a href="http://maps.google.com/?q={{device.latitude}},{{device.longitude}}"
                      target="_blank"><span style="color: #FFFFFF;">(latitude
												: {{device.latitude}}, longitude : {{device.longitude}})</span></a>
												<br>Device Type : {{device.device_type}}
												</p>
                  </div>
                </div>
                <div class="col-md-6" style="padding: 5 0;"> 
                  <div class="col-md-4">
                   
                    <div class="row" style="padding: 2 0;">
                      <div class="col-md-12">
                        <a class="btn btn-block btn-success" ng-click="startPolling(device)">Start Polling</a>
                      </div>
                    </div>
                    <div class="row" style="padding: 2 0;" ng-show="device.virtual_sensor">
                      <div class="col-md-12">
                        <div class="col-md-12" style="padding: 0 0;">
                          <a class="btn btn-block btn-warning" ng-click="toggleAailable(device)">Toggle Availability</a>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding: 2 0;">
                      <div class="col-md-12">
                        <a class="btn btn-block btn-danger btn" ng-click="stopPolling(device)">Stop Polling</a>
                      </div>
                    </div>
                    <div class="row" style="padding: 2 0;">
                      <div class="col-md-12">
                        <div class="col-md-5" style="padding: 0 0; ">
                          <input type="text" class="form-control" id="interval.poll_interval" name="interval.poll_interval"
                          ng-model="interval.poll_interval" style=""><i class="glyphicon glyphicon-hourglass form-control-feedback"></i>
                        </div>
                        <div class="col-md-6" style="padding: 0 0;">
                          <a class="btn btn-block btn-warning" ng-click="setPollingIntr(device)">Interval</a>
                        </div>
                      </div>
                    </div>
                   <div class="row" style="padding: 2 0;">
                      <div class="col-md-12">
                        <div class="col-md-5" style="padding: 0 0; ">
                          <input type="text" class="form-control" id="capacity.cap" name="capacity.cap"
                          ng-model="capacity.cap" style=""><i class="glyphicon glyphicon-plus-sign form-control-feedback"></i>
                        </div>
                        <div class="col-md-6" style="padding: 0 0;">
                          <a class="btn btn-block btn-info" ng-click="setParkingCapacity(device)">Capacity</a>
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding: 2 0;">
                      <div class="col-md-12">
                        <div class="col-md-5" style="padding: 0 0; ">
                          <input type="text" class="form-control" id="Rate.rate" name="Rate.rate"
                          ng-model="Rate.rate" style=""><i class="glyphicon glyphicon-usd form-control-feedback"></i>
                        </div>
                        <div class="col-md-6" style="padding: 0 0;">
                          <a class="btn btn-block btn-primary" ng-click="setRate(device)">Rate</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="padding: 2 5;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-info text-center">
                          <div class="panel-heading">
                            <h3 class="panel-title text-warning" style="color: #000000;">Device Settings</h3>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="list-group" style="height: 30%; overflow-x: hidden; overflow-y: auto;">
                          <li class="list-group-item">Device Type : {{device.device_type}}</li>
                          <li class="list-group-item">Identification : {{device.id_no}}</li>
                          <li class="list-group-item">Parking Capacity : {{device.capacity}}</li>
                          <li class="list-group-item">Empty Spots : {{device.empty_spots}}</li>
                          <li class="list-group-item">Parking Rate/Hr : {{device.rate}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" style="padding: 2 5;">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-success text-center">
                          <div class="panel-heading">
                            <h3 class="panel-title" style="color: #000000">Device Status</h3>
                          </div>
                        </div>
                      </div>  
                    </div>
                    <div class="row">
                      <div class="col-md-12" >
                        <ul class="list-group" style="height: 30%; overflow-x: hidden; overflow-y: auto;">
                          <li class="list-group-item">Device Status : <img ng-src="/images/{{device.devicestatus[0].Action}}img.png" alt="{{device.devicestatus[0].Action}}" class="img-rounded" width="30" height="30"/>
                          <li class="list-group-item">Connected Time : {{device.devicestatus[0].ConnectTime}}</li>
                          <li class="list-group-item">Client IP Address : {{device.devicestatus[0].ClientAddr}}</li>
                          <li class="list-group-item">Client IP Address : {{device.devicestatus[0].Port}}</li>
                          <li class="list-group-item">Client ID : {{device.devicestatus[0].ClientID}}</li>
                          <li class="list-group-item">Protocol : {{device.devicestatus[0].Protocol}}</li>
                          <li class="list-group-item">Bytes Received : {{device.devicestatus[0].ReadBytes}}</li>
                          <li class="list-group-item">Bytes Sent : {{device.devicestatus[0].WriteBytes}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>