<html>

<head>
<meta charset="utf-8">
<title>Smarter Parking - Parking made easy</title>
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css">
</head>

<body>
	<div class="cover" style="opacity: 0.8;">
		<div class="navbar"
			style="background-color: #000000 !important; opacity: 0.6;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navbar-ex-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span style="color: #FFFFFF;">Smarter
							Parking Sensor Management Portal</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-ex-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/dashboard" style="color: #FFFFFF;">Dashboard</a>
						</li>
						<li><a href="/VisualizeSensorData" style="color: #FFFFFF;">Visualize
								Sensor Data</a></li>
						<li><a href="/projectInfo" style="color: #FFFFFF;">Project info</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="background-image-fixed cover-image"
			style="background-image: url('/images/home_background.jpg')"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 class="text-inverse">Smarter Parking</h1>
					<p class="text-inverse">Welcome to future, where finding
						Parking is not something to be worried about!</p>
					<br> <br> <a class="btn btn-lg btn-success"
						href="/dashboard">Proceed to Dashboard</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-center text-primary">The People who made
						future happen in the present!!</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<img
						src="/images/chandni.jpg"
						class="center-block img-circle img-responsive">
					<h3 class="text-center">Chandni Balachandni</h3>
					<p class="text-center">Rockstar Android and Node Developer</p>
				</div>
				<div class="col-md-3">
					<img
						src="/images/pooja1.jpg"
						class="center-block img-circle img-responsive">
					<h3 class="text-center">Pooja Yelure</h3>
					<p class="text-center">Creative Genius Designer and Arduino Developer</p>
				</div>
				<div class="col-md-3">
					<img
						src="/images/parteek.jpg"
						class="center-block img-circle img-responsive">
					<h3 class="text-center">Parteek Makkar</h3>
					<p class="text-center">Superman of Android Application Development</p>
				</div>
				<div class="col-md-3">
					<img
						src="/images/rakshith.jpg"
						class="center-block img-circle img-responsive">
					<h3 class="text-center">Rakshith K Hatwar</h3>
					<p class="text-center">Crazy Arduino Developer and App Integrator</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>