<html >
<head>
<meta charset="utf-8">
<title>Smarter Parking - Parking made easy</title>
<link rel="icon" type="image/png" href="/images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script type="text/javascript" src="/js/visualSensorData.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css">
<style type="text/css">
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map-canvas {
	height: 78%;
}

#iw_container .iw_title {
	font-size: 16px;
	font-weight: bold;
}

.iw_content {
	padding: 15px 15px 15px 0;
}
</style>
</head>

<body>
	<div class="cover">
		<div class="navbar"
			style="background-color: #000000 !important; opacity: 0.5;">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navbar-ex-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><span
						style="color: #FFFFFF; opacity: 2.0">Smarter Parking Sensor
							Management Portal</span></a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-ex-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/" style="color: #FFFFFF;">Home</a>
						</li>
						<li><a href="/dashboard" style="color: #FFFFFF;">Dashboard</a>
						</li>
						<li><a href="/projectInfo" style="color: #FFFFFF;">Project Info</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cover-image"
			style="background-image: url('http://www.pennparking.com/wp-content/uploads/2012/10/campaign-bg-3.jpg')"></div>
		<div class="container"
			style="background-color: #000000 !important; opacity: 0.9; height: 90%; overflow-x: hidden; overflow-y: auto;">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12" style="padding: 10 20;">
									<h1 class="text-center" style="color: #FFFFFF">Sensor Data
										Visualization Dashboard</h1>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12" style="padding: 10 20;">
									<div id="map-canvas"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>